@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
    /* outline: 1px solid red; */
}

.bg_image_header {
    background-image: url(../image/png/Hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.op-60 {
    opacity: 60%;
}

.op-70 {
    opacity: 70%;
}

.op-80 {
    opacity: 80%;
}

.op-90 {
    opacity: 90%;
}
 
.nav_bg{
    position: relative;
}
.nav_bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 8px;
    padding-bottom: 3px;
    
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all ease-in-out linear;
}


.max-w-1140 {
    max-width: 1140px;
}

.btn-1 {
    max-width: 108px;
    height: 48px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--white);
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    transition: all ease-in-out 400ms;
}

.btn-1:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 13px;
}

.max-w-737 {
    max-width: 737px;
}

.pt-48 {
    padding-top: 48px;
}

.max-w-665 {
    max-width: 665px;
}

.pt-28 {
    padding-top: 28px;
}


.text-gradient {
    background: #39ADEC;
    background: linear-gradient(to bottom right, #39ADEC 13%, #4895EF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.max-w-628 {
    max-width: 628px;
}

.pt-20 {
    padding-top: 20px;
}

.body_bg {
    background-image: url(../image/png/Homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_box {
    backdrop-filter: blur(50px);
    width: 128px;
    height: 154px;
}

.after_line {
    position: relative;
}

.after_line::after {
    content: "";
    position: absolute;
    background-image: url(../image/svg/text-line.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 124px;
    height: 4px;
    top: 34px;
    left: -32px;
}

.gap-20 {
    gap: 20px;
}

.pt-24 {
    padding-top: 24px;
}

.box_1 {
    max-width: 388px;
    border-radius: 8px;
    padding: 20px 20px 23px 20px;
    backdrop-filter: blur(49px);
    background: #FFFFFF12;
}

.box_1 {
    position: relative;
}

.pt-14 {
    padding-top: 14px;
}

.box_1::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all ease-in-out linear;
}



.box_1:hover:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(171.68deg, #6E5DF6 39.97%, #00FFE1 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

}

.max-w-322 {
    max-width: 322px;
}

.pt-16 {
    padding-top: 16px;
}

.z-30 {
    z-index: 30 !important;
    position: relative;
}

.input_1 {
    max-width: 348px;
    width: 100%;
    padding: 16px 0px 16px 16px;
    border-radius: 4px;
}

.input_2 {
    max-width: 348px;
    width: 100%;
    padding: 16px 0px 16px 16px;
    border-radius: 0px 4px 4px 0px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-16 {
    margin-top: 16px;
}

.phone_no {
    max-width: 72px;
    height: 56px;
    border-radius: 4px 0px 0px 4px;
    border-width: 1px, 0px, 1px, 1px;
    border-style: solid;
    border-color: #FFFFFF33;
    padding: 10px;
    background: var(--input);

}

.btn_get {
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    border: 1px solid var(--white);
    max-width: 348px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 400ms ease-in-out;
}

.btn_get:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.btn_start {
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    border: 1px solid var(--white);

    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all ease-in-out 400ms;
}

.btn_start:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.mt-32 {
    margin-top: 32px;
}

.pt-39 {
    padding-top: 39px;
}

.pb-56 {
    padding-bottom: 56px;
}

.linear_color {
    background: #00FFE1;
    background: linear-gradient(to bottom, #00FFE1 0%, #6E5DF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pt-8 {
    padding-top: 8px;
}

.gap-16 {
    gap: 16px;
}

.padding_slick {
    padding: 20px 63px 20px 20px;
}

.mt--2 {
    margin-top: -2px;
}

.pt-44 {
    padding-top: 44px;
}
.text-color_1{
    background: #00FFE1;
background: linear-gradient(to bottom, #00FFE1 51%, #6E5DF6 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.text-color_2{
    background: #6E5DF6;
background: linear-gradient(to left, #6E5DF6 33%, #00FFE1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.header_absolute {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.25%, #010609 110.64%);
    height: 83px;
    bottom: 83px;
    left: 0;
}
.pb-20{
    padding-bottom: 20px;
}
.max-w-261 {
    max-width: 261px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.max-w-1119 {
    max-width: 1119px;
}

.last_line {
    width: 100%;
    height: 1px;
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);

}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mt-54 {
    margin-top: 54px;
}

.max-w-946 {
    max-width: 946px;
}

.pt-200 {
    padding-top: 200px;
}


.linear_card {
    background: linear-gradient(82.41deg, #00FFE1 -12.77%, #6E5DF6 93.08%);
    max-width: 524px;
    border-radius: 15px;
    padding: 25px 50px 0px 25px;
    min-height: 260px;
}

.max-w-360 {
    max-width: 360px;
}

.gap-17 {
    gap: 17px;
}

.pt-60 {
    padding-top: 60px;
}

.after_card {
    position: relative;
}

.after_card::after {
    content: "";
    position: absolute;
    background-image: url(../image/png/Frame2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 471px;
    height: 522px;
    width: 100%;
    top: 190px;
}

.after_card_2 {
    position: relative;
}

.after_card_2::after {
    content: "";
    position: absolute;
    background-image: url(../image/png/Frame1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 471px;
    width: 100%;
    height: 522px;
    top: 190px;
}

.btn_max {
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--white);
    max-width: 217px;
    transition: all 400ms ease-in-out;
}

.btn_max:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.pt-501 {
    padding-top: 511px;
}

.max-w-230 {
    max-width: 230px;
}

.text-color {
    background: #00FFE1;
    background: linear-gradient(to bottom right, #00FFE1 0%, #6E5DF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gap-22 {
    gap: 22px;
}

.max-w-583 {
    max-width: 583px;
}

.pt-180 {
    padding-top: 180px;
}


.btn_read {
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    border: 1px solid var(--white);
    transition: all ease-in-out 400ms;
}

.btn_read:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.btn_read_2 {
    padding: 12px 10px;
    border-radius: 4px;
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    border: 1px solid var(--white);
    max-width: 108px;
    transition: all 400ms ease-in-out;
}

.btn_read_2:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.mt-40 {
    margin-top: 40px;
}

.pt-80 {
    padding-top: 80px;
}

.max-w-498 {
    max-width: 498px;
}

.max-w-482 {
    max-width: 482px;
}

.max-w-502 {
    max-width: 502px;
}

.max-w-108 {
    max-width: 108px !important;
}

.pt-150 {
    padding-top: 150px;
}

.max-w-478 {
    max-width: 478px;
}

.text-gradient_2 {
    background: #00FFE1;
    background: linear-gradient(to bottom right, #00FFE1 0%, #6E5DF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.max-w-891 {
    max-width: 891px;
}

.pt-33 {
    padding-top: 33px;
}

.line_time {
    max-width: 716.88px;
}

.max-w-575 {
    max-width: 575px;
}

.first_step {
    background: var(--bg_color_1);
    background: linear-gradient(to right, #00FFE1 0%, #6E5DF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ai_stock {
    background:var(--bg_color_1);
    background: linear-gradient(to bottom, #00FFE1 0%, #6E5DF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.max-w-530 {
    max-width: 530px;
}



.pt-28 {
    padding-top: 28px;
}

.input_border {
    position: relative;
    padding: 24px;
    max-width: 558px;
}

.input_border::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.name_input {
    max-width: 251px;
    border-radius: 4px;
    border: 1px solid #FFFFFFB2;
    background: transparent;
    padding: 16px 0px 16px 16px;
    width: 100%;
     
}

/* back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: var(--white);
    cursor: pointer;
    border: 1px solid var(--black);
    padding: 20px;
    border-radius: 50px;
    transition: all 400ms linear;
}

.play_btn{
    position: relative;
}
.play_btn::after{
    content: "";
    position: absolute;
    background-image: url(../image/svg/playbtn.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 105px;
    height: 105px; 
    top: 47%;
    left: 48%;
    z-index: 3;
}
.link:hover {
    text-decoration: none;
    color: var(--bg-color);
    box-shadow: 0px 0px 20px 0px var(--pink-2);
}

/*===================*/
/* PULSE GROW
/*===================*/

@-webkit-keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.pulse-grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse-grow-on-hover:hover,
.pulse-grow-on-hover:focus,
.pulse-grow-on-hover:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


.gap-8 {
    gap: 8px;
}

.email_input {
    max-width: 510px;
    width: 100%;
    border: 1px solid #FFFFFFB2;
    border-radius: 4px;
    background: transparent;
    padding: 16px 0px 16px 16px;
}

.mt-8 {
    margin-top: 8px;
}

.phone_no_1 {
    max-width: 72px;
    width: 100%;
    border-width: 1px 0px 1px 1px !important;
    border-style: solid !important;
    border: 1px 0px 1px 1px !important;
    border-radius: 4px 0px 0px 4px;
    background: #FFFFFF0A !important;
    padding: 16px 0px 16px 16px;
    opacity: 70%;
}
.mt-8{
    margin-top: 8px;
}
.input_2_1 {
    max-width: 438px;
    width: 100%;
    border: 1px 1px 1px 0px !important;
    border: solid #FFFFFFB2 !important;
    background: transparent;
    padding: 16px 0px 16px 16px;
    border-radius: 0px 4px 4px 0px;
    opacity: 70%;

}

.pt-31 {
    padding-top: 31px;
}

.max-w-518 {
    max-width: 518px;
}


.pb-150 {
    padding-bottom: 150px;
}

.max-w-990 {
    max-width: 990.44px;
}

.max-w-733 {
    max-width: 733px;
}

.max-w-313 {
    max-width: 313px;
}

.pt-80 {
    padding-top: 80px;
}

.box_2 {
    position: relative;
    padding: 24px;
    width: 240px;
    height: 240px;
    padding-top: 45px;
    padding-bottom: 45px;
    transition: all ease-in-out 400ms;

}

.box_2:hover {
    background: #FFFFFF0A;
    border-radius: 12px;
    transition: all ease-in-out 400ms;

}

.box_2:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.box_2::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 12px;
    padding: 1px;
    background: transparent;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.max-w-199 {
    max-width: 199px;
}

.pt-32 {
    padding-top: 32px;
}

.gap-20 {
    gap: 20px;
}

.pt-27 {
    padding-top: 27px;
}

.after_vetor {
    position: relative;
}

.after_vetor::after {
    content: "";
    position: absolute;
    background-image: url(../image/svg/Vector.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 461px;
    height: 421px;
    top: 16%;
    left: -18%;
    z-index: 0;
}

.max-w-974 {
    max-width: 974px;
}

.pt-100 {
    padding-top: 100px;
}

.text-1 {
    background: #39ACEC;
    background: linear-gradient(to bottom, #39ACEC 49%, #4F8CF0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-2 {
    background: #01FFE1;
    background: linear-gradient(to bottom, #01FFE1 49%, #36B1EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle_linear {
    position: relative;
    width: 270px;
    height: 270px;

}

.circle_linear::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    border-radius: 100%;
    padding: 8px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.max-w-282 {
    max-width: 282px;
}

.max-w-270 {
    max-width: 270px;
}

.pt-44 {
    padding-top: 44px;
}

.pt-114 {
    padding-top: 114px;
}

.max-w-309 {
    max-width: 255px;
}

.max-w-327 {
    max-width: 327px;
}

.max-w-281 {
    max-width: 276px;
}

.max-w-1405 {
    max-width: 1405px;
}

.gap-12 {
    gap: 12px;
}

.pt-12 {
    padding-top: 12px;
}

.max-w-558 {
    max-width: 558px;
}

.btn_register {
    max-width: 155px;
    border-radius: 4px;
    padding: 12px 24px;
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    border: 1px solid var(--white);
    transition: all 400ms ease-in-out;
}

.btn_register:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.mt-60 {
    margin-top: 60px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.transition_l {
    transform: translateX(-210px);
}

.margin_left {
    margin-left: -160px;
}

.pt_80 {
    padding-top: 80px;
}

.pt-10 {
    padding-top: 10px;
}

.btn_open {
    max-width: 230px;
    border-radius: 4px;
    padding: 12px 24px;
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    border: 1px solid var(--white);
    transition: all 400ms ease-in-out;
}

.btn_open:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(107.02deg, #6E5DF6 12.76%, #00FFE1 91.81%);
}

.max-w-540 {
    max-width: 540px;
}

.max-w-716 {
    max-width: 716px;
}

.ml_-53 {
    margin-left: -53px;
}

.pl_72 {
    padding-left: 81px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-98 {
    padding-top: 98px;
}

.pt-109 {
    padding-top: 109px;
}

.pb-84 {
    padding-bottom: 84px;
}


.after_time {
    /* content: ""; */
    /* position: absolute; */
    /* background-image: url(../image/png/lineline.png); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  */
    max-width: 556.75px;
    height: 737.57px;
    top: 81px;
    left: 100px;
    z-index: -1;
}

.pt-129 {
    padding-top: 129px;
}

.ml_-120 {
    margin-left: -136px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.max-w-814 {
    max-width: 814px;
}

.responsive1 .slick-list {
    margin: 0 -6px;
}

.responsive1 .slick-slide {
    margin: 0 6px;
}

.slider .slick-list {
    margin: -12px 0px;
}

.slider .slick-slide {
    margin: 12px 0px;
}

.choose_box {
    position: relative;
}

.max-h {
    height: 200px;
}

.slider .slick-current .choose_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 1px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%),
        linear-gradient(109.13deg, #FF6499 -49.43%, #FF6499 124.85%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all ease-in-out 400ms;
    z-index: -2;
    opacity: 100%;

}

.slider .slick-current .choose_box h3 {
    font-weight: var(--fw-700);
    opacity: 100%;
}

.mt-50 {
    margin-top: 50px;
}

.line_2 {
    width: 2px;
    height: 113px;
    background: var(--light-black);
}

.line_3 {
    width: 2px;
    height: 113px;
    background: var(--light-black);
}

.circle_1 {
    width: 18px !important;
    height: 18px !important;
    border: 1px solid var(--light-black);

    background: var(--white);
    position: absolute;
    top: -0px;
    left: -8px;
    border-radius: 50px;
}

.circle_2 {
    width: 18px !important;
    height: 18px !important;
    border: 1px solid var(--light-black);

    background: var(--white);
    position: absolute;
    bottom: -9px;
    left: -8px;
    border-radius: 50px;
}

.circle_3 {
    width: 18px !important;
    height: 18px !important;
    border: 1px solid var(--light-black);

    background: var(--white);
    position: absolute;
    bottom: -0px;
    left: -8px;
    border-radius: 50px;
}


.line_1 {
    top: 0;
    right: 0;
}

.max-w-226 {
    height: 226px;
    width: 18px;
}


.mt-22 {
    margin-top: 22px;
}

.pt-22 {
    padding-top: 22px;
}

.responsive .slick-list {
    margin: 0 -6px;
}

.responsive .slick-slide {
    margin: 0 6px;
}

.max-w-35 {
    max-width: 35px;
    width: 100%
}

.max-w-716 {
    max-width: 716px;
}









/* .accordion */
.accordion-body {
    padding: 0px 0px 20px 0px !important;

}

.accordion-button {
    background: transparent;

    padding: 0 !important;
    padding-bottom: 20px !important;

}

.accordion-item {
    background: transparent !important;


}

.accordion-item {
    position: relative;
    width: 100%;


}

.max-w-630 {
    max-width: 630px;
}

.accordion-item::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0 !important;
    padding: 0 !important;
    padding-bottom: 1px !important;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.mt-20 {
    margin-top: 20px;
}

.gap-13 {
    gap: 13px;
}



.accordion-button:not(.collapsed) {
    background: transparent !important;

}



.accordion-button::after {
    background-image: url(../image/svg/accordionbottom.svg) !important;
    transform: rotate(180deg);
    background-size: 28px;
    width: 28px;
    height: 28px;

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../image/svg/accordiontop.svg) !important;
    width: 28px;
    height: 28px;
}

.accordion-button:not(.collapsed) {
    color: var(--white);
    box-shadow: none !important;


}

.accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;


}



.mt-24 {
    margin-top: 24px;
}

.accordion {
    --bs-accordion-border-color: none;

}



.accordion-item {
    position: relative;
    border-radius: 0 !important;
}

.max-w-603 {
    max-width: 603px;
}

.color_1 {
    color: #FFFFFFE5;
}



.trade_long {
    background:var(--bg_color_1);
    background: linear-gradient(to right, #00FFE1 0%, #6E5DF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pt-22 {
    padding-top: 22px;
}

.choose_box {
    max-width: 519px;
    border-radius: 6px;
    background: #FFFFFF0A;
    border: 1px solid #FFFFFF29;
    padding: 16px 0px 16px 33px;

}

.max-w-617 {
    max-width: 617px;
    height: 227px;
}

.ellips_1 {
    top: 0;
    left: 0;
    z-index: 0;
}

.cursor {
    cursor: pointer;
}

.ellips_2 {
    top: 20%;
    left: 0;
}

.ellips_3 {
    bottom: 0%;
    left: 0;
}

.ellips_4 {
    bottom: 3%;
    right: 0%;
}

.ellips_5 {
    top: 3%;
    right: 0%;
}

.ellips-6 {
    top: 0;
    left: 0;
}

.ellips-7 {
    right: 0;
    top: 10%;
}

.ellips-8 {
    top: -3%;
    left: 0;
}

.ellips-9 {
    top: 20%;
    left: 0;
}

.ellips-10 {
    top: 40%;
    left: 0;
}

.ellips-11 {
    top: 60%;
    left: 0;
}

.ellips-12 {
    top: 85%;
    left: 0;
}

.ellips-13 {
    top: 0;
    right: 0;
}

.ellips-14 {
    top: 26%;
    right: 0;
}

.ellips-15 {
    top: 43%;
    right: 0;
}

.ellips-16 {
    top: 64%;
    right: 0;
}

.ellips-17 {
    top: 91%;
    right: 0;
}

.ellips-18 {
    top: 30%;
    left: 0;
}

.ellips-19 {
    top: -60%;
    right: 0;
}

.ellips-20 {
    bottom: -64%;
    left: 0;
}

.ellips-21 {
    top: 0;
    right: 0;
}

.ellips-22 {
    top: -20%;
    left: 0;
}

.ellips-23 {
    top: 20%;
    right: 0;
}

.ellips-24 {
    top: -5%;
    left: 0;
}

.ellips-25 {
    top: 20%;
    right: 0;
}

.ellips_26 {
    top: -30%;
    left: 0;
}

.ellips_27 {
    top: 0%;
    right: 0;
}
.max-w-958{
    max-width: 958px;
}


@media (min-width: 1200px) {
    .text_wrap {
        text-wrap: nowrap;
    }

}

@media (max-width: 1199.9px) {
    .transition_l {
        transform: translateX(0px);
    }

    .margin_left {
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }

    .after_card_2::after {
        display: none;
    }

    .after_card::after {
        display: none;
    }

    .linear_card {
        min-height: 230px;
        padding-bottom: 20px;
    }

    .max-w-617 {
        max-width: 530px;
    }

    .pt-501 {
        padding-top: 70px;
    }

}

@media (min-width: 992px) {
    .max-w-557 {
        max-width: 557px;
    }

    .max-w-542 {
        max-width: 542px;
    }
    .max-w-367{
        max-width: 367px;
    }
    .max-w-387{
        max-width: 387px;
    }
}

@media (max-width: 991.9px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        /* backdrop-filter: blur(80px); */
        background: black;
        z-index: 40;
    }


    .menu {
        z-index: 50;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background: linear-gradient(146.43deg, #3B945E 1.77%, #00A600 62.74%);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background: linear-gradient(146.43deg, #3B945E 1.77%, #00A600 62.74%);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background: linear-gradient(146.43deg, #3B945E 1.77%, #00A600 62.74%);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: all 400ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0;
    }

    .flex-col {
        flex-direction: column;
    }

    .gap-46 {
        gap: 30px;
    }

    .mt__40 {
        margin-top: 40px;
    }
.pb-150{
    padding-bottom: 90px;
}
.pt-200{
    padding-top: 150px;
}
    .pt__30 {
        padding-top: 30px;
    }

    .pt-80 {
        padding-top: 40px;
    }

    .pt-150 {
        padding-top: 80px;
    }

    .ml_-120 {
        margin-left: -50px;
    }

    .ml_-53 {
        margin-left: 38px;
    }

    .pl_72 {
        padding-left: 101px;
    }

    .pt-44 {
        padding-top: 34px;
    }

    .max-w-617 {
        max-width: 600px;

    }

    .pt-180 {
        padding-top: 100px;
    }



}

@media (max-width: 768px) {
    .pb-56 {
        padding-bottom: 30px;
    }

    .pt-44 {
        padding-top: 20px;
    }

    .pb-84 {
        padding-bottom: 40px;
    }

    .pt-114 {
        padding-top: 50px;
    }

    .pb-150 {
        padding-bottom: 60px;
    }

    .max-w-617 {
        max-width: 500px;

    }

    .pt-200 {
        padding-top: 100px;
    }

    .pt-180 {
        padding-top: 80px;
    }

    .mt-60 {
        margin-top: 40px;
    }

    .pt-60 {
        padding-top: 50px;
    }

    .pt-100 {
        padding-top: 50px;
    }

    .pt-50 {
        padding-top: 40px;
    }
}

@media (max-width: 575px) {
    .after_vetor::after {
        display: none;
    }

    .pt-44 {
        padding-top: 10px;
    }

    .pb-56 {
        padding-bottom: 10px;
    }

    .pb-84 {
        padding-bottom: 10px;
    }

    .pt-150 {
        padding-top: 40px;
    }

    .pt-114 {
        padding-top: 20px;
    }

    .pt-200 {
        padding-top: 40px;
    }

    .pb-150 {
        padding-bottom: 39px;
    }

    .max-w-617 {
        max-width: 400px;

    }

    .py-30 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header_absolute {
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.25%, #010609 110.64%);
        height: 40px;
    }

    .pt-501 {
        padding-top: 40px;
    }

    .pt-180 {
        padding-top: 40px;
    }

    .mt-60 {
        margin-top: 30px;
    }

    .pt-60 {
        padding-top: 40px;
    }

    .pt-100 {
        padding-top: 40px;
    }

    .pt-50 {
        padding-top: 20px;
    }

    .mt-54 {
        margin-top: 30px;
    }

    .pt-40 {
        padding-top: 30px;
    }
}

@media (max-width: 410px) {
    .max-w-617 {
        max-width: 300px;

    }
}